section#main
	.container
		include ../header
		p.pre Запись открытого онлайн-мастер-класса
			small (внизу страницы)
		h1.main-title= head_title
		p.main-info Старт мини-курса: 
			span 7 сентября, в 19:00 мск
		p.main-info Автор мини-курса: 
			span  Анна Скуцкая
		a.button.button-main(href="#prices") Купить