section#for
	.container
		+gt('','Этот курс необходим тем, кто желает:')
		+gl('','новую желаемую должность или вакансию, когда необходимо вернуть долг или досрочно погасить ипотеку и кредит','привлечь в жизнь нужных и важных людей','иметь больше денег, а менять работу нет желания','встретить и познакомиться с любимым человеком','улучшить благоустройство собственного дома или семьи','реализовать задуманную идею или воплотить мечту в жизнь')