section#plan
	.container
		+gt('general-title-light', 'План трехдневного мини-курса:')
		p.plan-text
			span 1 день 
			| - разбираем многофункциональность рун, которые находятся в прямом положении
		p.plan-text
			span 2 день 
			| - разбираем многофункциональность рун, которые находятся в перевернутом положении
		p.plan-text
			span 3 день 
			| - разбираем подробно применение цвета в использовании рун
		p.plan-text На протяжении 
			span двух дней 
			| мы разберем подробно функции каждой из 25 рун в прямом и перевернутом положении. А также разберем в каком из вариантов на чем, на каком носителе, лучше всего прописывать данную руну, чтобы она максимально быстро дала желаемый результат
		p.plan-text
			span Третий день 
			| практикума будет посвящен теме цветов в рунах. Будет дана подробная характеристика по применению каждого из перечисленных цветов к рунам. Будем практиковать, как и какими цветами лучше прописывать руну, чтобы максимально быстро получить результат! И разберем, какие цвета не подходят в использовании конкретных рун