section#get
	.container
		+gt('','Что получите в результате прохождения курса:')
		+gl('','начнете понимать применение каждой из рун в прямом и перевернутом положении','узнаете, в какой ситуации можно применить определенную руну и где лучше применять прямую, а где перевернутую','будете знать, на чем в конкретных ситуациях применения руны лучше всего прописывать','поймете какая руна работает на налаживание взаимоотношений, а какая руна конкретно подходит в решении денежного вопроса','сможете с помощью определенного цвета усиливать действие руны и ускорять результат от ее применения')