section#prices
	.container
		#price-container
			p.price.price-full Стоимость - 
				span 3 400руб.
			p.price.price-sale Скидка - 
				span 500руб.
			p.price.price-today Стоимость сегодня - 
				span 2 900руб.
			a.button.button-buy(href="https://shop.mastervision.su/?r=ordering/cart/as1&id=3332&clean=true&lg=ru" target="_blank") Записаться
			.timer
				h4.timer-title Цена изменится через:
				.clock
				.clock-stop