section#record
	.container
		h3.general-title.general-title-rec.hide Записи интенсива нет в свободном доступе
		p.rec-text.text-sale.hide Но Вы можете купить запись интенсива за 250р. и радоваться жизни вместе с теми, кто её уже смотрел
		a.button.button-sale.hide(href="https://shop.mastervision.su/?r=ordering/cart/as1&id=3351&clean=true&lg=ru" target="_blank") Купить
		h3.general-title.general-title-rec Запись занятия 
			span от 04.09.19
		.video-wrapper.video-wrapper-rec
			iframe(src="https://player.vimeo.com/video/"  allowFullScreen mozallowfullscreen webkitAllowFullScreen)
		p.rec-text Занятие состоится 04.09.19, в 19:00 (мск)
		p.rec-text Запись занятия появится здесь 05.09.19, после 13:00 (мск)
		p.rec-text Запись занятия будет в открытом доступе до 08.09.19
		h3.general-title.general-title-feedback Ваши вопросы к Анне пишите 
			span в формах ниже:
		.row.feedback
			.col-md-6.col-sm-6
				#vk
					#vk_comments
					script(type="text/javascript")
						| VK.Widgets.Comments("vk_comments", { limit: 15,  attach: 0, autoPublish: 1 });
			.col-md-6.col-sm-6
				#fb
					.fb-comments(data-href= head_url data-width="100%" data-numposts="15" data-order-by="reverse_time")