#main
	padding 0 0 60px
	background-color: #412D06
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	position relative
	color: #fff
	text-align: center
	background-attachment fixed
	&:before
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		bottom 0
		right 0
		background-color: rgba(0,0,0,.55)
		z-index 0
	.container
		position relative
		z-index 9
.pre
	font-family: RBL
	small
		display block
.main-title
	font-size: 56px
	font-family: RBB
	margin 30px 0 50px
	color: #FFA500
	text-shadow: 0 0 5px rgba(#000, .15)
	text-transform: uppercase
	display: inline-block
	background-color rgba(255,255,255,.95)
	padding 5px 10px
	border-radius: 3px
.main-info
	font-size: 22px
	margin-bottom: 30px;
	span
		display: inline-block
		font-size: 24px
		font-family: RBB
		border-bottom: 1px dashed
	&:last-of-type
		margin-bottom: 60px;