#plan
	padding 60px 0
	background-color: #472717
	background-image url(../img/plan_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	position relative
	text-align: center
	background-attachment fixed
	&:before
		@extends #main:before
	.container
		position relative
		z-index 10
.general-title-light
	color: #fff
.plan-text
	background-color: rgba(#fff, .95)
	padding 10px
	display: inline-block
	border-radius: 3px
	margin-bottom: 30px
	line-height: 1.5
	font-size: 20px
	&:last-of-type
		margin-bottom: 0
	span
		font-size: 22px
		font-family: RBB