#record
	@extend #for
.video-wrapper-rec
	max-width 650px
.rec-text
	width 100%
	max-width 650px
	margin 10px auto 0
.general-title-feedback 
	margin-top: 50px
#vk
#fb
	overflow hidden
	box-shadow: 0 3px 15px 5px rgba(0,0,0,.1)
	background-color: rgba(255,255,255,.95)
	border-radius: 3px
.text-sale
	text-align: center
	margin 0 auto 20px;