footer
	background: #242933
	position relative
	padding: 2% 0
	text-align: center
footer
	h5
		font-size: 22px;
		font-family: RBB
		color: rgb(255, 255, 255);
	p
	#conditions
		font-size: 14px;
		font-family: RBL
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 15px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #FFA500
			color #242933
			line-height 28px
			border 1px solid rgba(#9a8958, .45)
			border-radius: 2px
			&:hover
				opacity .8