RB = 'RobotoSlab', serif
RBB = 'RobotoSlabBold', serif
RBL = 'RobotoSlabLight', serif

@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab.eot');
	src: url('../fonts/RobotoSlab.eot') format('embedded-opentype'),
		 url('../fonts/RobotoSlab.woff2') format('woff2'),
		 url('../fonts/RobotoSlab.woff') format('woff'),
		 url('../fonts/RobotoSlab.ttf') format('truetype'),
		 url('../fonts/RobotoSlab.svg#RobotoSlab') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoSlabBold';
	src: url('../fonts/RobotoSlabBold.eot');
	src: url('../fonts/RobotoSlabBold.eot') format('embedded-opentype'),
		 url('../fonts/RobotoSlabBold.woff2') format('woff2'),
		 url('../fonts/RobotoSlabBold.woff') format('woff'),
		 url('../fonts/RobotoSlabBold.ttf') format('truetype'),
		 url('../fonts/RobotoSlabBold.svg#RobotoSlabBold') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoSlabLight';
	src: url('../fonts/RobotoSlabLight.eot');
	src: url('../fonts/RobotoSlabLight.eot') format('embedded-opentype'),
		 url('../fonts/RobotoSlabLight.woff2') format('woff2'),
		 url('../fonts/RobotoSlabLight.woff') format('woff'),
		 url('../fonts/RobotoSlabLight.ttf') format('truetype'),
		 url('../fonts/RobotoSlabLight.svg#RobotoSlabLight') format('svg');
	font-display: fallback;
	font-weight: 100;
	font-style: normal;
}

@import '../css/_css/bootstrap.min.css'
@import '../css/_css/flipclock.min.css'

*
	margin 0
	padding 0
	outline none
body
	font-family: RB
	font-size: 18px
	line-height: 1.3
	color: rgb(0, 0, 0);
	background-color: rgba(82,72,62,.05)
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 3px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.button
	display block
	margin 0 auto
	height 55px
	line-height 55px
	width 100%
	max-width 300px
	border-radius: 3px
	border: 1px solid rgba(#fff,.9)
	background-color: #FFA500
	box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
	text-align: center
	color: #fff
	text-decoration: none
	font-size: 20px
	transition: all .4s ease
	text-transform: uppercase
	&:focus
		text-decoration: none
		color #fff
	&:hover
		text-decoration: none
		color #000
		background-color: #FFD700
.general-title
	font-size: 34px;
	font-family: RBB
	color: rgb(0, 0, 0);
	text-align: center
	line-height: 1.3
	margin-bottom: 4%
	color #FFAB0F
	span
		display: inline-block
.general-list
	width 100%
	max-width 860px
	margin 0 auto
	padding-left: 10px
	li
		list-style none
		font-size: 20px
		margin-bottom: 20px;
		padding-left: 25px
		position relative
		&:before
		&:after
			content: ''
			display block
			position: absolute
			width 10px
			height 10px
			background-color: transparent
			transform: rotate(-45deg)
		&:before
			border-top: 2px solid #FFAB0F
			border-left: 2px solid #FFAB0F
			top 5px
			left 0
		&:after
			border-right: 2px solid #FFAB0F
			border-bottom: 2px solid #FFAB0F
			top 11px
			left 3px
		&:last-child
			margin-bottom: 0
@import 'main/0.header'
@import 'main/1.main'
@import 'main/2.for'
@import 'main/3.plan'
@import 'main/4.get'
@import 'main/5.prices'
@import 'main/6.record'
@import 'main/7.footer'
@import 'main/8.medias'